<hr>
{{title}}
<hr>
{{description}}
<hr>
{{author.name}} {{author.lastName}}
<p>{{author.birthday}}</p>
<p>{{author.nationality}}</p>
<hr>
{{rating}}
<hr>
<a href="/books/{{_id}}/edit">Edit This Book</a>


<form action="/books/{{_id}}/delete" method="post">
<button>Delete This Book</button>
</form>
